:root{
  --primary-color: #EEEEEE;
  --shadow-color: #bbc2cf;
  --hightlight-color: #ff6f00;
  --blur-color: #dddddd;
  --text-color: #373A40;
  --transition-time: 0.2s ease;
  --general-width: 1140px;
  --general-small-width: 756px;
  --general-tablet-width: 468px;
}

.App {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  
}

input{
  outline: none;
  border: 1px solid var(--shadow-color);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
}

input:focus{
  border: 1px solid var(--hightlight-color);
}

ul{
  list-style: none;
  padding: 0;
}

.red-asterisk{
  color: red;
}

.success-alert{
  color: rgb(0, 223, 85);
}